{% extends "static/templates/pagos.html" %}
{% block resultados %}
	<div class="form-group">
		<p><label><h3>Dirección : </h3></label>
			{{direccion}}</p>
		<p><label><h3>Número de Inscripción : </h3></label>
			{{numero_inscripcion}}</p>
		<label><h2>Pagos Realizados:</h2></label>
			<p>======================================================================================================================</p>
			
			{% for resultado in resultados%}
			<div class="col-sm-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                	<tr>
                                		<th>Año</th>
                                		<th>{{resultado.ano}}</th>
                                	</tr>
                                    <tr>
                                    	<th>Items</th>
                                        <th>Primer Trimestre</th>
                                        <th>Segundo Trimestre</th>
                                        <th>Tercer Trimestre</th>
                                        <th>Cuarto Trimestre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	<tr>
                                        <th>Monto</th>
                                        <td>{{resultado.trimestre.primero.monto}}BsF</td>
                                        <td>{{resultado.trimestre.segundo.monto}}BsF</td>
                                        <td>{{resultado.trimestre.tercero.monto}}BsF</td>
                                        <td>{{resultado.trimestre.cuarto.monto}}BsF</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha</td>
                                        <td>{{resultado.trimestre.primero.fecha}}</td>
                                        <td>{{resultado.trimestre.segundo.fecha}}</td>
                                        <td>{{resultado.trimestre.tercero.fecha}}</td>
                                        <td>{{resultado.trimestre.cuarto.fecha}}</td>
                                    </tr>
                                    <tr>
                                        <th>Estatus</td>
                                        <td>{{resultado.trimestre.primero.status}}</td>
                                        <td>{{resultado.trimestre.segundo.status}}</td>
                                        <td>{{resultado.trimestre.tercero.status}}</td>
                                        <td>{{resultado.trimestre.cuarto.status}}</td>
                                    </tr>
                                    <tr>
                                        <th>Número de Factura</td>
                                        <td>{{resultado.trimestre.primero.numero_factura}}</td>
                                        <td>{{resultado.trimestre.segundo.numero_factura}}</td>
                                        <td>{{resultado.trimestre.tercero.numero_factura}}</td>
                                        <td>{{resultado.trimestre.cuarto.numero_factura}}</td>
                                    </tr>
                                    <tr>
                                        <th>Pagar</td>
                                        <td>
                                        				{% if resultado.trimestre.primero.status == "Solvente" %}
				<form>
					<div class = "form-group col-sm-12">
						<button type="submit" class="btn btn-sm btn-success" disabled>Pagado</button>
	    			</div>
				</form>
			{%else %}
				<form action = "/confirmar_pago/" method = "post">
					<div class = "form-group col-sm-12">
						<input type = "hidden" name = "ano" id = "ano" value = "{{resultado.ano}}">
						<input type = "hidden" name = "iden" id = "iden" value = "{{iden}}">
						<input type = "hidden" name = "inscripcion" id = "inscripcion" value = "{{numero_inscripcion}}">
						<input type = "hidden" name = "trimestre" id = "trimestre" value = "primero">
						<button type="submit" class="btn btn-sm btn-danger" onclick = "pendiente()">Pagar</button>
	    			</div>
				</form>
			{% endif%}
                                        </td>
                                        <td>
                                        	{% if resultado.trimestre.segundo.status == "Solvente" %}
				<form>
					<div class = "form-group col-sm-12">
						<button type="submit" class="btn btn-sm btn-success" disabled>Pagado</button>
	    			</div>
				</form>
			{%else %}
				<form action = "/confirmar_pago/" method = "post">
					<div class = "form-group col-sm-12">
						<input type = "hidden" name = "ano" id = "ano" value = "{{resultado.ano}}">
						<input type = "hidden" name = "iden" id = "iden" value = "{{iden}}">
						<input type = "hidden" name = "inscripcion" id = "inscripcion" value = "{{numero_inscripcion}}">
						<input type = "hidden" name = "trimestre" id = "trimestre" value = "segundo">
						<button type="submit" class="btn btn-sm btn-danger" onclick = "pendiente()">Pagar</button>
	    			</div>
				</form>
				{% endif%}
			
                                        </td>
                                        <td>
                                        	{% if resultado.trimestre.tercero.status == "Solvente" %}
				<form>
					<div class = "form-group col-sm-12">
						<button type="submit" class="btn btn-sm btn-success" disabled>Pagado</button>
	    			</div>
				</form>
			{%else %}
				<form action = "/confirmar_pago/" method = "post">
					<div class = "form-group col-sm-12">
						<input type = "hidden" name = "ano" id = "ano" value = "{{resultado.ano}}">
						<input type = "hidden" name = "iden" id = "iden" value = "{{iden}}">
						<input type = "hidden" name = "inscripcion" id = "inscripcion" value = "{{numero_inscripcion}}">
						<input type = "hidden" name = "trimestre" id = "trimestre" value = "tercero">
						<button type="submit" class="btn btn-sm btn-danger" onclick = "pendiente()">Pagar</button>
	    			</div>
				</form>
			{% endif%}
                                        </td>
                                        <td>
                                        	{% if resultado.trimestre.cuarto.status == "Solvente" %}
				<form>
					<div class = "form-group col-sm-12">
						<button type="submit" class="btn btn-sm btn-success" disabled>Pagado</button>
	    			</div>
				</form>
			{%else %}
				<form action = "/confirmar_pago/" method = "post">
					<div class = "form-group col-sm-12">
						<input type = "hidden" name = "ano" id = "ano" value = "{{resultado.ano}}">
						<input type = "hidden" name = "iden" id = "iden" value = "{{iden}}">
						<input type = "hidden" name = "inscripcion" id = "inscripcion" value = "{{numero_inscripcion}}">
						<input type = "hidden" name = "trimestre" id = "trimestre" value = "cuarto">
						<button type="submit" class="btn btn-sm btn-danger" onclick = "pendiente()">Pagar</button>
	    			</div>
				</form>
			{% endif%}

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
			
			{% if resultado.trimestre.primero.status != "Solvente" or resultado.trimestre.segundo.status != "Solvente" or resultado.trimestre.tercero.status != "Solvente" or resultado.trimestre.cuarto.status != "Solvente"   %}
				<form action = "/confirmar_pago/" method="post">
					<div class = "form-group col-sm-12">
						<input type = "hidden" name = "ano" id = "ano" value = "{{resultado.ano}}">
						<input type = "hidden" name = "iden" id = "iden" value = "{{iden}}">
						<input type = "hidden" name = "inscripcion" id = "inscripcion" value = "{{numero_inscripcion}}">
						<input type = "hidden" name = "trimestre" id = "trimestre" value = "varios">
						<button type="submit" class="btn btn-lg btn-danger" onclick = "pendiente()">Pagar Todo</button>
	    			</div>
				</form>
			{%else %}
				<form action = "/pagoexitoso/">
					<div class = "form-group col-sm-12">
						<button type="submit" class="btn btn-lg btn-success" onclick = "pendiente()" disabled>Todo Pago</button>
	    			</div>
				</form>
			{% endif%}
			<p>======================================================================================================================</p>
			
			{% endfor %}



 	</div>
 	<script type = "application/js">
 		function pendiente(){
 			var r = confirm("Press a button");
				if (r == true) {
    			location.href = "/pagoexitoso"
			} 
			else {
    			x = "Vuelve a Intentarlo";
			} 
 		}
 	</script>
{% endblock %}