{% extends "static/templates/pagos.html" %}
{% block resultados %}
	<div class="form-group">
		<p><label>Número de Inscripción : </label>
			{{datos.numero_inscripcion}}</p>
		<p><label>Ciudad : </label>
			{{datos.ciudad_inmueble}}</p>
		<p><label>Dirección : </label>
			{{datos.direccion_inmueble_op}}. {{datos.direccion_inmueble}}</p>
		<p><label>Entre : </label>
			{{datos.direccion_inmueble_entre_op}}. {{datos.direccion_inmueble_entre}}</p>
		<p><label>Y : </label>
			{{datos.direccion_inmueble_y_op}}. {{datos.direccion_inmueble_y}}</p>
		<p><label>Cedula o RIF del propietario : </label>
			{{datos.cedula_o_rif_propietario}}</p>
		<p><label>Razon social del propietario : </label>
			{{datos.razon_social_propietario}}</p>
		<label><h2>Pagos Realizados:</h2></label>
			<p>======================================================================================================================</p>
			
			{% for resultado in resultados%}
			<div class="col-sm-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                	<tr>
                                		<th>Año</th>
                                		<th>{{resultado.ano}}</th>
                                	</tr>
                                    <tr>
                                    	<th>Items</th>
                                        <th>Primer Trimestre</th>
                                        <th>Segundo Trimestre</th>
                                        <th>Tercer Trimestre</th>
                                        <th>Cuarto Trimestre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	<tr>
                                        <th>Monto</th>
                                        <td>{{resultado.trimestre.primero.monto}}BsF</td>
                                        <td>{{resultado.trimestre.segundo.monto}}BsF</td>
                                        <td>{{resultado.trimestre.tercero.monto}}BsF</td>
                                        <td>{{resultado.trimestre.cuarto.monto}}BsF</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha</td>
                                        <td>{{resultado.trimestre.primero.fecha}}</td>
                                        <td>{{resultado.trimestre.segundo.fecha}}</td>
                                        <td>{{resultado.trimestre.tercero.fecha}}</td>
                                        <td>{{resultado.trimestre.cuarto.fecha}}</td>
                                    </tr>
                                    <tr>
                                        <th>Estatus</td>
                                        <td>{{resultado.trimestre.primero.status}}</td>
                                        <td>{{resultado.trimestre.segundo.status}}</td>
                                        <td>{{resultado.trimestre.tercero.status}}</td>
                                        <td>{{resultado.trimestre.cuarto.status}}</td>
                                    </tr>
                                    <tr>
                                        <th>Número de Factura</td>
                                        <td>{{resultado.trimestre.primero.factura}}</td>
                                        <td>{{resultado.trimestre.segundo.factura}}</td>
                                        <td>{{resultado.trimestre.tercero.factura}}</td>
                                        <td>{{resultado.trimestre.cuarto.factura}}</td>
                                    </tr>
                                    <tr>
                                        <th>Pagar</td>
                                        <td>
                                        				{% if resultado.trimestre.primero.status == "Solvente" %}
				<form>
					<div class = "form-group col-sm-12">
						<button type="submit" class="btn btn-sm btn-success" disabled>Pagado</button>
	    			</div>
				</form>
			{%else %}
				<form action = "/confirmar_pago/" method = "post">
					<div class = "form-group col-sm-12">
						<input type = "hidden" name = "ano" id = "ano" value = "{{resultado.ano}}">
						<input type = "hidden" name = "iden" id = "iden" value = "{{iden}}">
						<input type = "hidden" name = "inscripcion" id = "inscripcion" value = "{{datos.numero_inscripcion}}">
						<input type = "hidden" name = "trimestre" id = "trimestre" value = "primero">
						<button type="submit" class="btn btn-sm btn-danger">Pagar</button>
	    			</div>
				</form>
			{% endif%}
                                        </td>
                                        <td>
                                        	{% if resultado.trimestre.segundo.status == "Solvente" %}
				<form>
					<div class = "form-group col-sm-12">
						<button type="submit" class="btn btn-sm btn-success" disabled>Pagado</button>
	    			</div>
				</form>
			{%else %}
				<form action = "/confirmar_pago/" method = "post">
					<div class = "form-group col-sm-12">
						<input type = "hidden" name = "ano" id = "ano" value = "{{resultado.ano}}">
						<input type = "hidden" name = "iden" id = "iden" value = "{{iden}}">
						<input type = "hidden" name = "inscripcion" id = "inscripcion" value = "{{datos.numero_inscripcion}}">
						<input type = "hidden" name = "trimestre" id = "trimestre" value = "segundo">
						<button type="submit" class="btn btn-sm btn-danger" >Pagar</button>
	    			</div>
				</form>
				{% endif%}
			
                                        </td>
                                        <td>
                                        	{% if resultado.trimestre.tercero.status == "Solvente" %}
				<form>
					<div class = "form-group col-sm-12">
						<button type="submit" class="btn btn-sm btn-success" disabled>Pagado</button>
	    			</div>
				</form>
			{%else %}
				<form action = "/confirmar_pago/" method = "post">
					<div class = "form-group col-sm-12">
						<input type = "hidden" name = "ano" id = "ano" value = "{{resultado.ano}}">
						<input type = "hidden" name = "iden" id = "iden" value = "{{iden}}">
						<input type = "hidden" name = "inscripcion" id = "inscripcion" value = "{{datos.numero_inscripcion}}">
						<input type = "hidden" name = "trimestre" id = "trimestre" value = "tercero">
						<button type="submit" class="btn btn-sm btn-danger" >Pagar</button>
	    			</div>
				</form>
			{% endif%}
                                        </td>
                                        <td>
                                        	{% if resultado.trimestre.cuarto.status == "Solvente" %}
				<form>
					<div class = "form-group col-sm-12">
						<button type="submit" class="btn btn-sm btn-success" disabled>Pagado</button>
	    			</div>
				</form>
			{%else %}
				<form action = "/confirmar_pago/" method = "post">
					<div class = "form-group col-sm-12">
						<input type = "hidden" name = "ano" id = "ano" value = "{{resultado.ano}}">
						<input type = "hidden" name = "iden" id = "iden" value = "{{iden}}">
						<input type = "hidden" name = "inscripcion" id = "inscripcion" value = "{{datos.numero_inscripcion}}">
						<input type = "hidden" name = "trimestre" id = "trimestre" value = "cuarto">
						<button type="submit" class="btn btn-sm btn-danger" >Pagar</button>
	    			</div>
				</form>
			{% endif%}

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
			
			{% if resultado.trimestre.primero.status != "Solvente" or resultado.trimestre.segundo.status != "Solvente" or resultado.trimestre.tercero.status != "Solvente" or resultado.trimestre.cuarto.status != "Solvente"   %}
				<form action = "/confirmar_pago/" method="post">
					<div class = "form-group col-sm-12">
						<input type = "hidden" name = "ano" id = "ano" value = "{{resultado.ano}}">
						<input type = "hidden" name = "iden" id = "iden" value = "{{iden}}">
						<input type = "hidden" name = "inscripcion" id = "inscripcion" value = "{{datos.numero_inscripcion}}">
						<input type = "hidden" name = "trimestre" id = "trimestre" value = "varios">
						<button type="submit" class="btn btn-lg btn-danger" >Pagar Todo</button>
	    			</div>
				</form>
			{%else %}
				<form action = "/pagoexitoso/">
					<div class = "form-group col-sm-12">
						<button type="submit" class="btn btn-lg btn-success" disabled>Todo Pago</button>
	    			</div>
				</form>
			{% endif%}
			<p>======================================================================================================================</p>
			
			{% endfor %}



 	</div>
{% endblock %}